streamlit
langchain
langchain-openai
langchain-community
openai
faiss-cpu
numpy
pandas
scikit-learn
torch
zhipuai
chromadb
langchain-community
faiss-cpu
streamlit
langchain
langchain-openai
langchain-community
openai
faiss-cpu
